body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, select, legend {
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

label {
    display: block;
}

input.radio-label {
    vertical-align: middle;
}

